@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    margin: 0%;
    padding: 0%;
    font-family: "Bebas Neue", sans-serif;
}


.name1 {
    background-color: rgb(170, 170, 170);
    color: rgb(0, 0, 0);
    border-bottom: 3px solid black;
    letter-spacing: 1px;
    word-spacing: 3px
    /* -webkit-text-stroke: 1px black; */
}


.info {
    background-color: rgb(22, 22, 22);
    color: rgb(217, 213, 213);

}



h4{
    font-size: large;
    font-weight: bold;
}



a {
    color: black;
    text-decoration: none;
}



a:hover {
    text-decoration: underline;
}



.avatar {
    width: 160px;
    height: 125px;
    border-radius: 7px;
    border: 3px solid rgb(8, 8, 8);
    float: left;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-right: 5px;
    margin-top: 5px;
}
/* .info p{ */
    /* font-size: x-large; */
    /* margin-left: 10px; */
/* } */




.workexp {
    background-color: rgb(170, 170, 170);
    color: black;
    border-top: 3px solid black;
    border-bottom: 3px solid black; 
}
h2 {
    margin-left: 150px;
}
.social {
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: rgb(170, 170, 170);
    color: rgb(0, 0, 0);
    padding-left: 7px;
    border: 3px solid black;
}




.fourbox {
    display: flex;
    justify-content: center;
    margin: auto;
    min-height: 130px;
}
.boxB{
    background-color: rgb(171, 171, 171);
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    margin: 2px;
    padding: 4px;
}




.contact {
    width: 96%;
    justify-self: center;
    background-color: rgb(170, 170, 170);
    border: 3px;
    border-radius: 15px;
    padding-left: 20px;
    padding-bottom: 10px;
    border: 2px solid black;
    box-shadow: 4px 4px 15px;
    /* margin-top: 10px; */
}
.contact h4 {
    /* padding-top: 3px; */
    color: rgb(0, 0, 0);
    text-align: center;
}
.date {
    color: rgb(0, 0, 0);
}




.form-group label {
    display: block;
    color: rgb(6, 6, 6);
}
.form-group input {
    width: 97%;
    box-sizing: border-box;
    padding-right: 5px;
}





.TheButton {
    background-color: rgb(170, 170, 170);
    min-width: 150px;
    min-height: 30px;
    align-content: center;
    justify-self: center;
    text-align: center;
}


    